<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
		<link rel="stylesheet" href="/fontawesome/css/all.css">
		<link rel="stylesheet" href="/css/admin_login.css">
    <title>Admin Login</title>
</head>
<body>
    <h2>Admin Login</h2>
		<form action="/admin/login" method="POST">
			<img src="../images/avatar.png" class="avatar">
        <input type="text" name="username"> <span>Username</span> <br> <br>
        <input type="password" name="password"> <span>Password</span> <br> <br>
        <input type="submit" value="Login">

    </form>
    <%= error%>
</body>
</html>
