# This is the root directory
root = true

# Settings for all file types
[**]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Tab indentation for HTML, CSS and ejs
[**.{html, htm}]
indent_style = tab
indent_size = 2

[**.ejs]
indent_style = tab
indent_size = 2

[**.{css, scss, less, sass}]
indent_style = tab
indent_size = 2

# 2 space indentation for Javascript
[**.{js, json}]
indent_size = 2
