<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAQ</title>
    <link rel="stylesheet" href="css/faqs.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link rel="stylsheet" href="normalize.css/normalize.css">
	<link rel="stylesheet" href="css/framazeing.css">
	<link rel="stylesheet" href="css/hospital.css">
</head>

<body>
    <div class="head-wrapper">
        <header class="container page-header">
            <div class="three columns logo">
                <img src="images/logo/medical-logo.png" alt="MediLog Hospital logo">
                <h1>Medi<span class="logo--orange">Log</span> Hospital</h1>
            </div>
            <nav class="six columns">
								<ul>
										<li class="button"><a href="/">Home</a></li>
										<li class=" button"><a href="#">About</a>
										</li>
										<li class="button">
											<div class="dropdown">
											<button class="dropbtn">Information</button>
											<div class="dropdown-content">
											<a href="/firstaid">First Aid</a>
											<a href="/regional">Regional</a>
											<a href="/faqs">FAQs</a>
											</div>
										</div>
									</li>
										<li class="button"><a href="#">Contact</a></li>
									</ul>
            </nav>
            <div class="three columns login">
                <a href="/patient" class="button button-primary login-btn">Go to MediLog</a>
            </div>
        </header>
    </div>
    <div id="container">

            <div id="bg-section2"></div>
            <h2 id="wdywtka"> What do you want to know about? </h2>
            <ul class="UL">
                <div class="liSection">
                    <li><a href="#" id="heart">
                            <div class="secB-A"><img src="https://media.giphy.com/media/x6bdCxDTXZs1G/giphy.gif"><br>Cardiac</div>
                        </a></li><br>
                    <li><a href="#" id="brain">
                            <div class="secB-A"><img src="https://media.giphy.com/media/l41lJ8ywG1ncm9FXW/giphy.gif"><br>Psychology
                                & Brain</div>
                        </a></li><br>
                    <li><a href="#" id="nerves">
                            <div class="secB-A"><img src="https://media.giphy.com/media/l3vRcrVqhBVSpJte0/giphy.gif"><br>Neurology
                            </div>
                        </a></li><br>
                    <li><a href="#" id="kidney">
                            <div class="secB-A"><img src="https://media.giphy.com/media/l41JUhD25ZJe3elZC/giphy.gif"><br>Nephrology</div>
                        </a></li><br>
                    <li><a href="#" id="sexual">
                            <div class="secB-A"><img src="https://media.giphy.com/media/huV0vsBghDJtK/giphy.gif"><br>Sexual</div>
                        </a></li><br>
                </div>
                <div class="descriptionSection" id="descriptionSection">
                    <div class="filter" id="filter">
                        <input type="text" id="filter1" placeholder="Filter your questions">
                    </div>
                    <div id="exceptFilter">

                    </div>
                </div>
            </ul>

    </div>

    <script src="js/faqs.js"></script>
</body>

</html>
