<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Medilog Hospital</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link rel="stylsheet" href="normalize.css/normalize.css">
	<link rel="stylesheet" href="css/framazeing.css">
	<link rel="stylesheet" href="css/hospital.css">
	<script src="js/main.js"> </script>
</head>
<body>
	<div class="head-wrapper">
		<header class="container page-header">
			<div class="three columns logo">
				<img src="images/logo/medical-logo.png" alt="MediLog Hospital logo">
				<h1>Medi<span class="logo--orange">Log</span> Hospital</h1>
			</div>
			<nav class="six columns">
				<ul>
					<li class="button"><a href="/">Home</a></li>
					<li class=" button"><a href="#">About</a>
					</li>
					<li class="button">
						<div class="dropdown">
						<button class="dropbtn">Information</button>
						<div class="dropdown-content">
						<a href="/firstaid">First Aid</a>
						<a href="/regional">Regional</a>
						<a href="/faqs">FAQs</a>
						</div>
					</div>
				</li>
					<li class="button"><a href="#">Contact</a></li>
				</ul>
			</nav>
			<div class="three columns login">
					<a href="/patient" class="button button-primary login-btn">Go to MediLog</a>
			</div>
		</header>
		<div class="action">
			<h2>We provide great service.</h2>
			<h2>There is no doctor, there is no patient, there is just family.</h2>
		</div>
	</div>
	<div class="container">
		<main class="two-thirds column">
			<section class="services">
				<h2 class="row"></h2>
				<section class="four columns service">
					<h3>Service 1</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim porta ullamcorper.
					Vestibulum dictum porta ipsum, non ullamcorper enim vehicula quis.
					Phasellus at euismod felis. Proin sed nulla condimentum,
					sagittis augue sit amet, mollis augue. Suspendisse non ante sit amet
					quam volutpat feugiat in ac elit. Suspendisse ultrices tortor at massa
					cursus, quis pretium sapien mollis. Suspendisse massa tellus,
					pretium vitae rutrum eu, fermentum quis est. Praesent commodo ante quis turpis eleifend,
					in mattis justo elementum. Nam maximus tellus odio, eget convallis tortor dictum a.
					Sed ac justo in eros dignissim semper. Sed vel ante erat. Nunc pellentesque nec massa ut euismod.</p>
				</section>
				<section class="four columns service">
					<h3>Service 2</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim porta ullamcorper.
					Vestibulum dictum porta ipsum, non ullamcorper enim vehicula quis.
					Phasellus at euismod felis. Proin sed nulla condimentum,
					sagittis augue sit amet, mollis augue. Suspendisse non ante sit amet
					quam volutpat feugiat in ac elit. Suspendisse ultrices tortor at massa
					cursus, quis pretium sapien mollis. Suspendisse massa tellus,
					pretium vitae rutrum eu, fermentum quis est. Praesent commodo ante quis turpis eleifend,
					in mattis justo elementum. Nam maximus tellus odio, eget convallis tortor dictum a.
					Sed ac justo in eros dignissim semper. Sed vel ante erat. Nunc pellentesque nec massa ut euismod.</p>
				</section>
				<section class="four columns service">
					<h3>Service 3</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim porta ullamcorper.
					Vestibulum dictum porta ipsum, non ullamcorper enim vehicula quis.
					Phasellus at euismod felis. Proin sed nulla condimentum,
					sagittis augue sit amet, mollis augue. Suspendisse non ante sit amet
					quam volutpat feugiat in ac elit. Suspendisse ultrices tortor at massa
					cursus, quis pretium sapien mollis. Suspendisse massa tellus,
					pretium vitae rutrum eu, fermentum quis est. Praesent commodo ante quis turpis eleifend,
					in mattis justo elementum. Nam maximus tellus odio, eget convallis tortor dictum a.
					Sed ac justo in eros dignissim semper. Sed vel ante erat. Nunc pellentesque nec massa ut euismod.</p>
				</section>
			</section>
		</main>
		<section class="one-third column updates">
			<h1>News and Updates</h1>
			<section class="news">
				<h2>News 1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim porta ullamcorper.
				Vestibulum dictum porta ipsum, non ullamcorper enim vehicula quis.
				Phasellus at euismod felis. Proin sed nulla condimentum,
				sagittis augue sit amet, mollis augue. Suspendisse non ante sit amet
				quam volutpat feugiat in ac elit. Suspendisse ultrices tortor at massa
				cursus, quis pretium sapien mollis. Suspendisse massa tellus,
				pretium vitae rutrum eu, fermentum quis est. Praesent commodo ante quis turpis eleifend,
				in mattis justo elementum. Nam maximus tellus odio, eget convallis tortor dictum a.
				Sed ac justo in eros dignissim semper. Sed vel ante erat. Nunc pellentesque nec massa ut euismod.</p>
			</section>
			<section class="news">
				<h2>News 2</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim porta ullamcorper.
				Vestibulum dictum porta ipsum, non ullamcorper enim vehicula quis.
				Phasellus at euismod felis. Proin sed nulla condimentum,
				sagittis augue sit amet, mollis augue. Suspendisse non ante sit amet
				quam volutpat feugiat in ac elit. Suspendisse ultrices tortor at massa
				cursus, quis pretium sapien mollis. Suspendisse massa tellus,
				pretium vitae rutrum eu, fermentum quis est. Praesent commodo ante quis turpis eleifend,
				in mattis justo elementum. Nam maximus tellus odio, eget convallis tortor dictum a.
				Sed ac justo in eros dignissim semper. Sed vel ante erat. Nunc pellentesque nec massa ut euismod.</p>
			</section>
			<section class="news">
				<h2>News 3</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim porta ullamcorper.
				Vestibulum dictum porta ipsum, non ullamcorper enim vehicula quis.
				Phasellus at euismod felis. Proin sed nulla condimentum,
				sagittis augue sit amet, mollis augue. Suspendisse non ante sit amet
				quam volutpat feugiat in ac elit. Suspendisse ultrices tortor at massa
				cursus, quis pretium sapien mollis. Suspendisse massa tellus,
				pretium vitae rutrum eu, fermentum quis est. Praesent commodo ante quis turpis eleifend,
				in mattis justo elementum. Nam maximus tellus odio, eget convallis tortor dictum a.
				Sed ac justo in eros dignissim semper. Sed vel ante erat. Nunc pellentesque nec massa ut euismod.</p>
			</section>
		</section>
	</div>
	<div class="foot-wrapper">
		<footer class="container page-footer">
			<div class="three columns about">
				<a href="#" class="button button-primary">About</a>
			</div>
			<div class="six columns copyright">
				<a href="#" class="button button-primary">Copyright</a>
			</div>
			<div class="three columns social">
				<a href="#" class="button button-primary">Social</a>
			</div>
		</footer>
</body>
</html>
