<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Info</title>
    <link rel="stylesheet" type="text/css" href="css/projectMap.css">
    <link rel="stylsheet" href="normalize.css/normalize.css">
	<link rel="stylesheet" href="css/framazeing.css">
	<link rel="stylesheet" href="css/hospital.css">
</head>
<body>
        <div class="head-wrapper">
                <header class="container page-header">
                    <div class="three columns logo">
                        <img src="images/logo/medical-logo.png" alt="MediLog Hospital logo">
                        <h1>Medi<span class="logo--orange">Log</span> Hospital</h1>
                    </div>
                    <nav class="six columns">
                            <ul>
                                    <li class="button"><a href="/">Home</a></li>
                                    <li class=" button"><a href="#">About</a>
                                    </li>
                                    <li class="button">
                                        <div class="dropdown">
                                        <button class="dropbtn">Information</button>
                                        <div class="dropdown-content">
                                        <a href="/firstaid">First Aid</a>
                                        <a href="/regional">Regional</a>
                                        <a href="/faqs">FAQs</a>
                                        </div>
                                    </div>
                                </li>
                                    <li class="button"><a href="#">Contact</a></li>
                                </ul>
                    </nav>
                    <div class="three columns login">
                        <a href="/patient" class="button button-primary login-btn">Go to MediLog</a>
                    </div>
                </header>
            </div>
    <h1 align="center">Diseases Information by region</h1>

    <div class="image">
    <div></div>
    <img src="images/nepal.jpg" class="province-map">
    <div></div>
    </div>

    <div class="thisText">Click In Picture for information</div>

    <script src="js/projectMap.js">
    </script>
</body>
</html>
