body {
	font-family: Catamaran;
	background-color: #eee;
}

.main-sidebar {
  background-color: #fff;
	box-shadow: 5px 0 50px #c6c6c6;
  overflow: auto;
}
.main-sidebar ul {
	list-style-type: none;
}
.dash-nav {
	margin-top: 2.5rem;
}
.dash-nav a {
  display: block;
	width: 90%;
	margin: .625rem auto;
	border-radius: 2px;
  color: #a9afbb;
	transition: all .6s ease-out;
  padding: .625em 1em;
  text-decoration: none;
}
.dash-nav a.active {
  color: white;
  background-color: #00bcd4;
	box-shadow: 0 5px 10px #aedee3;
}
.dash-nav a:hover:not(.active),
.dash-nav a:focus:not(.active) {
  background-color: rgba(243, 243, 243);
}
.profile-img {
	float: left;
	padding: 0 1% 1% 2%;
	margin-left: 1%;
}
.details h2 {
	color: #3c4d62;
	font-weight: normal;
	font-size: 1.5em;
	text-align: center;
	padding-top: .625em;
}

main section,
main .row {
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 10px #dfdfdf;
	border-radius: 3px;
	margin-top: 4%;
	padding: 0 .625em;
}
.blood, .pressure, .heart, .meds, .appoint { height: auto; }
main h1 {
	color: #3c4d62;
	font-size: 2em;
	margin-top: .625em;
	margin-bottom: 0;
	text-align: center;
}
.heading {
	position: relative;
	top: -15px;
	width: 90%;
	box-shadow: 7px 10px 10px #f1e0cc;
	margin: 0 auto;
	padding: 1rem 1rem;
	border-radius: 3px;
}
.top.heading {
	position: static;
	width: auto;
	box-shadow: none;
	margin: 0;
	padding: 0;
	background-color: transparent;
}
/* .heading, .heading h2 { */
.heading h2, h2[class~="heading"] {
	font-weight: normal;
	font-size: 1.5rem;
	margin-bottom: .1em;
	color: #fff;
}
.heading p { margin-top: .1em; }
.orange { background-image: linear-gradient(to left, #fb8d02, #ffa625); }
.heading.orange p { color: #ffdfc2; }
.green { background-image: linear-gradient(to left, #01adc2, #25c5d9); }
.heading.green p { color: #a6e5ec; }

.main-sidebar i[class^="fa"] {
	vertical-align: middle;
	font-size: 1.5em;
	padding-right: .625em;
}
i[class^="fa"] { font-size: 1.5em; }

@media screen and (min-width: 768px) {
	.main-sidebar {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
	}

	main h1 { text-align: left; }
}
