body{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/medi2.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;
	height: 100px;
}
