body {
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	background: #1e71aca2;
}

.login-box {
	position: relative;
	margin: 5% auto;
	max-width: 20em;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 35px 30px 70px 30px;
	border-radius:15px;
	box-shadow:0 0 15px #295c85c9;
}
.login-box:after {
	content: "";
	display: block;
	clear: both;
}
.login-box p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.login-box input {
	width: 100%;
	margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {
	transition: all 0.5s ease-out;
	border: 2px solid #1a73e8;
	background-color: #fff;
	color: #000;
}
.login-box input[type="reset"],
 .login-box input[type="submit"] {
	border: none;
	outline: none;
	background: #1c8adb;
	color: #fff;
	font-size: 1.125rem;
	border-radius: 20px;
	margin-top: 1em;
}
.login-box input[type="reset"]:hover,
.login-box input[type="submit"]:hover {
	cursor: pointer;
	background: #097fd3;
}
.login-box a {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}
h2 {
	margin: .625em 0 1.5625em 0;
	padding: 0 0 ;
	text-align: center;
	font-size: 2em;
	font-weight: normal;
}
form p { margin-top: 2em; }
form p:first-of-type { margin-top: 3em; }
.forgot-pwd { color: #fff; }
.forgot-pwd { color: #eee; }

input[type="radio"] {
	width:10%;
}
.button-holder{
	text-align: center;
}

.error{
	position: absolute;
	color:red;
	text-align: center;
	bottom: 2em;
	left: 0;
	right: 0;
}

@media screen and (min-width: 576px) {
	.login-box {
		max-width: 400px;
	}
}
