<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Login</title>
</head>
<body>
    <h2>Login To Patient Health Portal</h2>
    <form action="/patient/login" method="POST">
        <input type="text" name="patientEmail"> Email <br> <br>
        <input type="password" name="patientPassword"> Password <br> <br>
        <input type="submit" value="Login"> <br> <br>
        <a href="#">Forgot Password?</a> <br> <br> <br>
    </form>
    <%= error%>
</body>
</html>