<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran">
	<link rel="stylesheet" href="/css/framazeing.css">
	<link rel="stylesheet" href="/css/dashboard.css">
	<title>Document</title>
</head>
<body>
		<h2>Medications</h2>
		<% include includes/navbar.ejs %>
		<a href="/patient/logout" style="position:absolute; bottom:50px;" >Logout</a>
</body>
</html>
