<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/framazeing.css">
		<link rel="stylesheet" href="/css/login.css" />
	<title>Reset Password</title>
</head>
<body>
	<h3>Reset Password</h3>
	<form action="" method="POST">
		<input type="password" name="password"> New Password<br> <br>
		<input type="password" name="password2"> Confirm Password<br> <br>
		<input type="submit" value="Reset Password">
	</form>
</body>
</html>
