			<div>
					<a href="/patient">Dashboard</a> <br> <br>
					<a href="/patient/history">Patient History</a> <br> <br>
					<a href="/patient/labtests">Lab Tests</a> <br> <br>
					<a href="/patient/medication">Medication</a> <br> <br>
					<a href="/patient/settings">Settings</a> <br> <br>
			</div>


